@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    #40c9ff 0%,
    #5cacff 16.67%,
    #788fff 33.33%,
    #9473ff 50%,
    #b056ff 66.67%,
    #cc39ff 83.33%,
    #e81cff 100%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-gradient {
  background: linear-gradient(
    135deg,
    #40c9ff 0%,
    #5cacff 16.67%,
    #788fff 33.33%,
    #9473ff 50%,
    #b056ff 66.67%,
    #cc39ff 83.33%,
    #e81cff 100%
  );
}

.bg-light-blue {
  background-color: #5cacff;
}

.hover\:bg-light-blue:hover {
  background-color: rgba(92, 172, 255, 0.55);
}
